<p>Hi <%= user.name %>,</p>

<p>Your email address has been successfully updated.</p>

<p>If you did not make this change, please secure your account immediately:</p>

<a class="button" href="<%= secureAccountLink %>">Secure Your Account</a>

<p>If this was you, no further action is required.</p>
