<p>Hi <%= user.name %>,</p>

<p>We received a request to reset your password.</p>

<p>Your reset link:</p>

<a class="button" href="<%= resetLink %>">Reset Your Password</a>

<p>This link is valid for <%= expiryTime %> hour.</p>

<p>If you did not request this, simply ignore this email.</p>
