<p>Hi <%= user.name %>,</p>

<p>Welcome to <strong><%= appName %></strong>!</p>

<p>We're excited to have you on board.</p>

<a class="button" href="<%= loginLink %>">Get Started</a>

<p>If you did not create this account, please ignore this email.</p>
