<p>Hi <%= user.name %>,</p>

<p>Your password has been successfully changed.</p>

<p>If you did not perform this change, reset your password immediately:</p>

<a class="button" href="<%= resetPasswordLink %>">Reset Your Password</a>

<p>If this was you, no further action is needed.</p>
