<p>Hi <%= user.name %>,</p>

<p>Your password for <%= appName %> has been successfully reset.</p>

<p>If this wasn't you, secure your account:</p>

<a class="button" href="<%= secureAccountLink %>">Secure Your Account</a>

<p>Login here:</p>

<a class="button" href="<%= loginLink %>">Login</a>
