<p>Hi <%= user.name %>,</p>

<p>Thanks for joining <%= appName %>!</p>

<p>Please verify your email to activate your account:</p>

<a class="button" href="<%= verifyLink %>">Verify Email</a>

<p>If you did not create this account, simply ignore this email.</p>
